.appHeader{
  height: 75px;
  max-height: 75px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  font-family: 'FKDisplayRegular';
  padding: 0 40px;
}

.appHeader h2{
  position: absolute;
  color: #7A85E9;
  font-family: "FKRasterGroteskSharp";
  font-size: 26px;
  left: 50%;
  transform: translateX(-50%);
}

.appHeader .readmeLink{
  margin-right: 20px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: rgb(148, 92, 180);
  margin-left: auto;
}
.appHeader .readmeLink:hover{
  text-decoration: underline;
}

.appHeader .imageLink{
  margin-right: auto;
  display: flex;
}
.appHeader img{
  height: 25px;
}