.appHeader{
  height: 60px;
  max-height: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.appHeader .readmeLink{
  margin-right: 20px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: rgb(148, 92, 180);
  margin-left: auto;
}
.appHeader .readmeLink:hover{
  text-decoration: underline;
}

.appHeader .imageLink{
  margin-right: auto;
}
.appHeader img{
  height: 24px;
  margin-left: 20px;
}