.appHeader{
  height: 60px;
  max-height: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.appHeader h2,
.appHeader a{ margin-left: auto;}

.appHeader a{
  margin-right: 20px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: rgb(148, 92, 180);
}
.appHeader a:hover{
  text-decoration: underline;
}
