.resetButton{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}

.resetButton button{
    background: white;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .1s;
}

.resetButton button:hover{
  transform: scale(1.03)
}