.container{
  border: 1px solid;
  margin-bottom: 10px;
}

.container ul{
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.container ul li{
  margin-bottom: 5px;
  cursor: pointer;
}

.active{
  box-sizing: border-box;
  border: 2px solid #945cb4;
  background-color: #945cb43b;
}
.coutryActive{
  box-sizing: border-box;
  border: 2px solid #ffdd19;
  background-color: #fdf1ab;
}

.searchActive{
  box-sizing: border-box;
  border: 2px solid #308c30;
  background-color: rgba(48, 140, 48, 0.24);
}