.container{
  position: relative;
}
.container_list{
  list-style: none;
  padding: 10px;
  margin-top: 0;
  padding-top: 0;
}
.container_list_item{
  padding: 10px;
}

.container_list_item > div{
  padding: 10px;
  margin: 0;
  border-radius: 3px;
}
.showmoreButton{
  background: none;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
}

.noresults{
  color: red;
  margin-top: 30%;
  font-weight: bold;
}