.container{
  width: 30vw;
  border: 1px solid;
  border-left: none;
  height: calc(100vh - 62px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}

.downloadLink{
  color: rgb(148, 92, 180);
  text-decoration: none;
}

.downloadLink:hover{
  text-decoration: underline;
}

.container .bottom{
  max-height: 80%;
  overflow: scroll;
}