$spacing-xxs: 6px;
$spacing-xs: 13px;
$spacing-sm: 18px;
$spacing-md: 36px;
$spacing-lg: 51px;
$spacing-xl: 72px;
$spacing-2xl: 144px;
$spacing-3xl: 288px;
$spacing-screen: 100px;
$spacing-large-screen: 120px;
$spacing-mobile: 33px;

$padding-mobile: 0 33px;
$padding-desktop: 0 120px;
$padding-footer-mobile: 72px 33px;
$padding-footer-desktop: 72px 120px;

$responsive-desktop: 768px;
$responsive-mid-desktop: 980px;
$responsive-large-desktop: 1200px;
$responsive-max-desktop: 1440px;


$line-height-body: 27px;

$navbar-height: 75px;
$footer-height: 362px;
$footer-height-mobile: 806px;

$title-line-height: 20px;
