.app {
  text-align: center;
}
.maincontainer {
  display: flex;
  flex-direction: row;
}
.mapcontainer{
  border: 1px solid;
  width: 70vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.mapcontainer svg{
  height:100%;
  width: 100%;
}

.mapcontainer svg path:focus{
  outline: none;
}

/* .mapcontainer svg path:focus{
  fill: red !important;
} */
