.app {
  text-align: center;
}

.aiflogo{
height: 30px;
position: absolute;
left: 40px;
opacity: .4;
bottom: 40px;
}
.appHeader h2{
  margin: 0;
}
.maincontainer {
  display: flex;
  flex-direction: row;
}
.mapcontainer{
  border: 1px solid;
  width: 70vw;
  height: calc(100vh - 62px);
  overflow: hidden;
  position: relative;
}

.mapcontainer svg{
  height:100%;
  width: 100%;
}

.mapcontainer svg path:focus{
  outline: none;
}

/* .mapcontainer svg path:focus{
  fill: red !important;
} */
